/* css-nya */

#wrapper{
	
	padding-bottom :25px;
}
#content{
	padding : 12px 27px 12px 27px;
}
#chatbox{
	text-align : left;
	margin : 0 auto;
	margin-bottom : 25px;
	padding : 10px;
	background : white;
	height : 300px;
	width : 387px;
	border : 1px solid black;
	margin-left :20px;
	overflow : auto;
}
#menu{
	padding :12px 27px 12px 27px;
}

#footer{
	float : left;
	margin-left : 160px;
	padding : 20px;
}
.welcome{
	float : left;
}
.logout{
	float : left;
	margin-left : 260px;
}
#online{
	text-align : left;
	float:right;
	margin-right : 830px;
	background : white;
	width : 100px;
	height : 320 px;
	border : 1px solid black;
}
.message-line{
	margin : 0 0 2px 0;
	color : black;
}